.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: black;
  padding: 4.5px 20px 4.5px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 215px;
}

.card__like-button {
  background: transparent url("../images/like.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  position: relative;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
