.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.card__delete-button {
  background: transparent url("../images/Delete-button.svg") center no-repeat;
  position: absolute;
  top: 20px;
  right: 15px;
  width: 18px;
  height: 19px;
  border: none;
  transition: opacity 0.3s ease;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: black;
  padding: 24.5px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 215px;
  margin: 0;
}

.card__like-button {
  background: transparent url("../images/like.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  position: relative;
}

.card__like-button_active {
  background-image: url(../images/Like-activated.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}