.footer {
  padding-top: 67px;
  padding-bottom: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .footer {
    margin: 0 20px 0;
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 620px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 33px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
